# print

print command used in python to tell the programs to display output

In [10]:
print('Rozina Razzak')

Rozina Razzak

In [4]:
print( 2 + 9)

11

In [7]:
print(67)

67

# Variables

variable are created to asingn the value .
variable and its value may also change .
. can't enclose in quotation mark
. can't have any spaces
. can't be a number or begin with a number
. can't be any python reserved words,also called keywords(e.g: and, false,yield...)

# variable for strings

In [9]:

name = 'Joy'
jjjj = 'hchn'
print(jjjj)

hchn

In [10]:
life = 'make it better'
print(life)

make it better

# variable for numbers

In [11]:
height = 170
height + 23

193

In [12]:
first_number = 56
new_number = first_number + 80
print(new_number)

136

In [13]:
age = '34'   # number in quotation mark refered as string
y = age / 2
print(y)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [14]:
5th_number = 67 # variable naming not start with number
print(5th_number)

SyntaxError: invalid decimal literal (612609954.py, line 1)

In [15]:
number_of_5th = 67
print(number_of_5th)

67

# Math expressions: Familiar operators

In [11]:
x = 10 + 5
y = 80 - 60
z = 7 * 4
a = 25 // 5
c = 25 / 5

print(x,y,z,a,c)

15 20 28 5 5.0

# Unfamiliar operators

In [19]:
what_left_over = 90 % 8  # % is called modulo operator
print(what_left_over)

2

In [20]:
left = 50 % 5
left

0

In [21]:
weight = 80
weight = weight + 2
weight

82

In [24]:
weight += 9

In [25]:
weight

92

In [26]:
weight -= 5
weight

87

In [27]:
weight *= 2
weight

174

In [28]:
weight /= 2
weight

87.0

# Eliminating ambiguity

In [29]:
total = 1 + 3 * 4
total

13

In [30]:
total = (1 + 3) * 4
total

16

In [31]:
total = 1 + ( 3 * 4 )
total

13

In [32]:
total = (2 * 4 ) * 4 + 2
total

34

In [33]:
total = ((2 * 4) * 4 ) + 2
total

34

In [34]:
total = (2 * 4) * ( 4 + 2 )
total

48

# Concatenating text strings

In [36]:
first_name = 'Rozina'
last_name = 'Razzak'
full_name = first_name + ' ' + last_name
full_name

'Rozina Razzak'

In [39]:
life_quote = 'Life '  + 'is' + ' a ' + 'gift'
life_quote

'Life is a gift'

if statements

In [40]:
if first_name == 'Rozina':
    print('yes')

yes

In [41]:
if 5 + 5 == 10:
    print('right')

right

In [51]:
if number_of_students == '45':
    print('class is full ')

class is full

In [48]:
number_of_students = '34'

In [50]:
number_of_students = '45'

# Comparison operator

# == , equality operator
# == , not equal operator can be used to compare numbers,strings,variables,math expression and combinations
# == , string comparisons using the not-equal operator are case-sensitive
# != , is opposite of == or not equal to

In [ ]:
if full_name == 'Rozina' + ' ' + 'Razzak':
if full_name == first_name + ' ' + 'Razzak':
if full_name == first_name + ' ' + 'last_name':
if total == 3000 + 200:
if total == product_cost + 200:    
if total == product_cost + delivery_cost:
if x + y == a - b:

In [54]:
ticket_number = 8520
if ticket_number != 61914:
    print('Better luck next time')

Better luck next time

In [56]:
if 1 > 0:
    print('greater than')
    if 0 < 1:
        print('less than')
        if 1 >= 0:
            print('greater than or equal to')
            if 1 <= 1:
                print('greater than or equal to')
                if 0 <= 1:
                    print('less than or equal to')
                    if 1 <= 1:
                        print('less than or equal to')

greater than
less than
greater than or equal to
greater than or equal to
less than or equal to
less than or equal to

# else and elif statements

# if statement used to test condition true or false 
# else statement used if statement test fail 
# elif statement (short of if and else) if no test has been successful yet , an elif tries something else

In [6]:
if pizza_size == 'large':
    print('order it')
elif pizza_flavor == 'creamy tikka':            #  elif execute only when first test fail
    print('order 2 pizza')
else:
    print('no order')

no order

In [5]:
pizza_size = 'medium'
pizza_flavor = 'tikka'

In [18]:
price = 0
if shoes_color == 'brown':
    price += 15
if shoes_size == '36':
    price += 20
if shoes_texture == 'smooth':
    price += 25

In [19]:
shoes_color = 'black'
shoes_size = '3'
shoes_texture = 'smooth'

In [20]:
print(price)

25

# Testing sets of conditions

# and keyword used to test all conditions compulsorary
# or keyword used to test either one of condition to be true

In [26]:
mass = 99
volume = 100

In [27]:
if mass > 69 and volume < 50:
    print('positive answer')

In [32]:
if x < 20 and y > 30 and a >= 10 and b == 96:
    print('correct')

correct

In [48]:
x = 13
y = 54
a = 15
b = 20
v = 45
w = 50

In [49]:
if x < 20 or y > 30 or a >= 10  or b == 96:
    print('correct')

correct

In [50]:
if x > 20 or x < 30 and b == 60:
    print('true')

In [51]:
if (v > 13 or v < 30 ) and w == 50:
    print('king')

king

# if statements nested

In [63]:
if (x == y or a == c) and b == d:
    f = h
else:
    i = j

In [62]:
x,y,a,c,b,d,f,h,i,j = 3,3,5,3,3,3,3,3,6,3

In [64]:
if b == d:              # prefer to use the more concise structure using 'and' and 'or'
    if x == y:          # nested ifs used when things get really complicated
        f = h
    elif a == c:
        f = h
    else:
        i = j
else:
    i = j

# Comments

In [65]:
# Comments are lines of text in your code that python ignores
# comment start with "#" and '3 single quotation mark'
print('love you life')
print(30 + 8)

love you life
38

# List

# list is a type of variable 
# list is a variable that can have sequence of values and this value called elements
# list begins with equal sign and when you are defining list eclosed the value in square brackets
# list value assign with index number starts with 0

In [69]:
cities = ['Karachi','Islamabad','Rawalpindi']
prime_numbers = [1,2,3,5,7,11,13]
any_characters = ['joy',78,"tree","$","!"]

In [73]:
print(cities[0] + ' is the biggest city of Pakistan')

Karachi is the biggest city of Pakistan

In [74]:
prime_number[4]

7

# Lists : Adding and changing elements

In [85]:
countries = ['Azerbijan','Belgium','France']

In [86]:
countries.append('Mexico')      # append add element in the end of list
countries

['Azerbijan', 'Belgium', 'France', 'Mexico']

In [87]:
countries.insert( 2,'New york')   # insert add element in list with given index number
countries

['Azerbijan', 'Belgium', 'New york', 'France', 'Mexico']

In [88]:
countries[0] = 'China'
countries

['China', 'Belgium', 'New york', 'France', 'Mexico']

# Lists: Taking slices out of them

In [89]:
flowers = ['rose','lilly','tulip','sunflower']
days_of_week = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

In [92]:
flowers.index("rose")

0

In [93]:
len(flowers)

4

In [94]:
flowers[2:3]

['tulip']

In [96]:
flowers[:3]

['rose', 'lilly', 'tulip']

In [98]:
flowers[2:]

['tulip', 'sunflower']

In [99]:
days_of_week[2:5]

['Wednesday', 'Thursday', 'Friday']

In [100]:
days_of_week[3:]

['Thursday', 'Friday', 'Saturday', 'Sunday']

# Lists: Deleting and removing elements

In [101]:
days_of_week

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [102]:
del days_of_week[3]     # del and remove completely delete the element from list
days_of_week

['Monday', 'Tuesday', 'Wednesday', 'Friday', 'Saturday', 'Sunday']

In [104]:
del days_of_week[5]

In [105]:
days_of_week

['Monday', 'Tuesday', 'Wednesday', 'Friday', 'Saturday']

In [106]:
days_of_week.remove('Tuesday')
days_of_week

['Monday', 'Wednesday', 'Friday', 'Saturday']

In [107]:
days_of_week.remove('Monday')
days_of_week

['Wednesday', 'Friday', 'Saturday']

# Lists: popping elements

In [16]:
verb = ['eat','drink','wash','look','smelling']
verb

['eat', 'drink', 'wash', 'look', 'smelling']

In [17]:
verb.pop()

'smelling'

In [18]:
verb

['eat', 'drink', 'wash', 'look']

In [22]:
gh = []
gh.append(verb.pop(1))

In [23]:
print(gh)

['wash']

In [24]:
gh.insert(0,(verb.pop()))

In [25]:
gh

['look', 'wash']

# Tuples

# elements are fixed
# immutable

In [3]:
adj = ('good','bad','intelligent',25,78,'best')

In [1]:
n = ('Rozina',)
b = ('joe',"hope",'687689')
print(n)

('Rozina',)

# for loop

# for loop is used to check thne given element is present in assigning variable
# for keyword used to check the value through the loop

In [12]:
adj = ('good','bad','intelligent',25,78,'best')
for x  in adj:
    if y == x:
        print('yes,it is present')

yes,it is present

In [11]:
y = 'good'

In [14]:
b = [25,36,24,24,10,14]
c = 10
for v in b:
    if c == v:
        print("yes")
    if c != v:
        print('no')

no
no
no
no
yes
no

# for loop nested

# contains inner and outer loop

In [16]:
fruits = ['Apple','Banana','Grapes','Orange']
prices = ['Rs 300','Rs 80','Rs 400','Rs 350']
fruit_with_price = []
for fruit in fruits:
    for price in prices:
        fruit_with_price.append(fruit + ' ' + price)

In [17]:
fruit_with_price

['Apple Rs 300',
 'Apple Rs 80',
 'Apple Rs 400',
 'Apple Rs 350',
 'Banana Rs 300',
 'Banana Rs 80',
 'Banana Rs 400',
 'Banana Rs 350',
 'Grapes Rs 300',
 'Grapes Rs 80',
 'Grapes Rs 400',
 'Grapes Rs 350',
 'Orange Rs 300',
 'Orange Rs 80',
 'Orange Rs 400',
 'Orange Rs 350']

# getting information from the user and converting strings and numbers

In [22]:
c = input('enter the number:')
c = int(c)
d = 90 + c
print(c, d)

enter the number:60
60 150

In [24]:
d = float(d)
e = d / 20
print(c,d,e)

60 150.0 7.5

# changing case

# used to converts user input into lower,upper and title case

In [35]:
animals = ['dog','Cat',"ZEBRA"]
animal_to_check = input('enter the name:')
#animal_to_check = animal_to_check.title()
for animal_to_check in animals:
        print('we have ' + animal_to_check + ' in animal list .')

enter the name:pot
we have dog in animal list .
we have Cat in animal list .
we have ZEBRA in animal list .

In [37]:
animals = ['dog','Cat',"ZEBRA"]
for animal_to_check in animals:
    animal_to_check = input('enter the name:')
    animal_to_check = animal_to_check.title()
    print(animal_to_check + ' is present in the list .')

enter the name:zebra
Zebra is present in the list .
enter the name:cat
Cat is present in the list .
enter the name:dog
Dog is present in the list .

In [46]:
p = 'king is ruthless'
print(p.upper())
print(p.lower())
print(p.title())
print(p.capitalize())

KING IS RUTHLESS
king is ruthless
King Is Ruthless
King is ruthless

# Dictionary

# dictionary is a series of pairs of keys and values

In [68]:
dic_1 = {'Name':'Hammad','Father_name':'Yaseen','School':'Abc sec school','Age':'15'}
dic_2 = {0:'Rashid',1:'Babar',2:'Shaheen'}

# How to pick information out of dictionary

In [69]:
print(dic_1['Father_name'])
print(dic_1['Age'],dic_2[2],dic_1['Name'])

Yaseen
15 Shaheen Hammad

In [70]:
dic_2[1]

'Babar'

# Dictionaries : The versatility of keys and values

In [71]:
versatility = {
    'first_number':'0',
     12 : 'dozen',
     'Ã­ncome': 52000,
    60 : 258200,
    
    
}

# Dictionaries : Adding items

In [73]:
print(dic_1)
dic_1['monthly_income'] = '60000'
print(dic_1)

{'Name': 'Hammad', 'Father_name': 'Yaseen', 'School': 'Abc sec school', 'Age': '15'}
{'Name': 'Hammad', 'Father_name': 'Yaseen', 'School': 'Abc sec school', 'Age': '15', 'monthly_income': '60000'}

In [74]:
dic_3 = {}
dic_3['country'] = 'Pakistan'
dic_3['capital'] = 'Islamabad'
dic_3['biggest_city'] = 'Karachi'

In [75]:
dic_3

{'country': 'Pakistan', 'capital': 'Islamabad', 'biggest_city': 'Karachi'}

# Dictionaries: Removing and changing items

In [76]:
print(dic_3)
del dic_3['capital']
print(dic_3)

{'country': 'Pakistan', 'capital': 'Islamabad', 'biggest_city': 'Karachi'}
{'country': 'Pakistan', 'biggest_city': 'Karachi'}

In [77]:
print(dic_1)
dic_1['monthly_income'] = '90000'
print(dic_1)

{'Name': 'Hammad', 'Father_name': 'Yaseen', 'School': 'Abc sec school', 'Age': '15', 'monthly_income': '60000'}
{'Name': 'Hammad', 'Father_name': 'Yaseen', 'School': 'Abc sec school', 'Age': '15', 'monthly_income': '90000'}

# Dictionaries: Looping through keys , values and both

In [78]:
for x in dic_1:
    print(x)

Name
Father_name
School
Age
monthly_income

In [80]:
for key,value in dic_3.items():
    print(key,' : ',value)

country  :  Pakistan
biggest_city  :  Karachi

In [82]:
for each_value in dic_1.values():
    print(each_value)

Hammad
Yaseen
Abc sec school
15
90000

# Creating a list of dictinaries

In [83]:
class_four = [
    {
        'student_name': 'Ali Raza',
        'age': 8,
        'father_name': "M.Tahir",
    },
    {
        'student_name': 'M .Mushtaq',
        'age': 9,
        'father_name': "M.Sohail",
    },
    
    {
        'student_name': 'Mujtaba Khan',
        'age': 10,
        'father_name': "M.Rizwan",
    },
]

# How to pick information out of a list of dictionaries

In [84]:
student_02 = class_four[1]
print(student_02)

{'student_name': 'M .Mushtaq', 'age': 9, 'father_name': 'M.Sohail'}

In [87]:
print(class_four[0]['age'],class_four[2]['student_name'])

8 Mujtaba Khan

# How to append a new dictionary to a list of dictionary

In [88]:
print(class_four)
new_st = {
    'student_name': 'Rohail Khan',
        'age': 11,
        'father_name': "M.Kamran",
}
class_four.append(new_st)
print(class_four)

[{'student_name': 'Ali Raza', 'age': 8, 'father_name': 'M.Tahir'}, {'student_name': 'M .Mushtaq', 'age': 9, 'father_name': 'M.Sohail'}, {'student_name': 'Mujtaba Khan', 'age': 10, 'father_name': 'M.Rizwan'}]
[{'student_name': 'Ali Raza', 'age': 8, 'father_name': 'M.Tahir'}, {'student_name': 'M .Mushtaq', 'age': 9, 'father_name': 'M.Sohail'}, {'student_name': 'Mujtaba Khan', 'age': 10, 'father_name': 'M.Rizwan'}, {'student_name': 'Rohail Khan', 'age': 11, 'father_name': 'M.Kamran'}]

In [89]:
print(len(class_four))

4

In [90]:
print(class_four)
new_st2 = {
    'student_name': 'Ahsan',
        'age': 7,
        'father_name': "M.Imran",
}
class_four.insert(1,new_st2)
print(class_four)

[{'student_name': 'Ali Raza', 'age': 8, 'father_name': 'M.Tahir'}, {'student_name': 'M .Mushtaq', 'age': 9, 'father_name': 'M.Sohail'}, {'student_name': 'Mujtaba Khan', 'age': 10, 'father_name': 'M.Rizwan'}, {'student_name': 'Rohail Khan', 'age': 11, 'father_name': 'M.Kamran'}]
[{'student_name': 'Ali Raza', 'age': 8, 'father_name': 'M.Tahir'}, {'student_name': 'Ahsan', 'age': 7, 'father_name': 'M.Imran'}, {'student_name': 'M .Mushtaq', 'age': 9, 'father_name': 'M.Sohail'}, {'student_name': 'Mujtaba Khan', 'age': 10, 'father_name': 'M.Rizwan'}, {'student_name': 'Rohail Khan', 'age': 11, 'father_name': 'M.Kamran'}]

# Creating a dictionary that contains lists

In [91]:
dic_4 = {
    'first_name':'Jackson',
    'last_name':'Robert',
    'country':'Paris',
    'childrens':['Gill','Hannah','Wanyne'],
}

In [94]:
if 'Gill' in dic_4['childrens']:
    age = 10

# Creating a dictionary that contains a dictionary

In [2]:
countries = {
    0:{ 'ct': '01',
    'name': 'France',
    'capital':'Paris',
},
    1 :{'ct': '02',
    'name': 'Afghanistan',
    'capital':'Kabul',
},
     2:{'ct': '03',
    'name': 'China',
    'capital':'Beijing',
},
        
 }

# How to get information out of a dictionary within another dictionary

In [3]:
print(countries)

{0: {'ct': '01', 'name': 'France', 'capital': 'Paris'}, 1: {'ct': '02', 'name': 'Afghanistan', 'capital': 'Kabul'}, 2: {'ct': '03', 'name': 'China', 'capital': 'Beijing'}}

In [4]:
countries[2]['name']

'China'

In [5]:
countries[1]

{'ct': '02', 'name': 'Afghanistan', 'capital': 'Kabul'}

# Funtions

# function is a block of python code that robotically does the same thing again and again,whenever you call its name
# 'def' keyword used to define function

In [7]:
def add_numbers():
    first_number = 6
    second_number = 9
    total = first_number + second_number
    print(total)

In [8]:
add_numbers()

15

In [12]:
def sub_numbers():
    first_number = 70 
    second_number = 59
    total = first_number - second_number
    print(total)

In [13]:
sub_numbers()

11

# Funtions: Passing them information

In [16]:
def multiply_numbers(first_number,second_number):
    total = first_number * second_number
    print(total)

In [17]:
multiply_numbers(89,20)

1780

In [18]:
multiply_numbers(23.78,76.4)

1816.7920000000001

In [21]:
def divide_numbers(second_number,first_number):
    total = second_number / first_number
    print(total)

In [22]:
divide_numbers(70,3)

23.333333333333332

In [40]:
a = 'Hello, World !'
whatever = 'I am handsome .'

In [41]:
def greet_user(a,whatever):
    print(a,whatever)

In [42]:
greet_user(a,whatever)

Hello, World ! I am handsome .

# Functions: Passing information to them a different way

In [49]:
def country_name_with_province(name,province):
    print('The name of country is ' + name + ' and its province is '+ province + ' . ')

In [50]:
country_name_with_province('Pakistan','Islamabad')

The name of country is Pakistan and its province is Islamabad .

In [51]:
country_name_with_province('France','Paris')

The name of country is France and its province is Paris .

# Functions : Assigning a default value to a parameter

In [52]:
def calc_tax(sales_total , tax_rate = .45):
    print(sales_total * tax_rate)

In [53]:
calc_tax(456,)

205.20000000000002

In [54]:
calc_tax(20,20)

400

In [55]:
calc_tax(tax_rate = .98,sales_total = 646 )

633.08

In [69]:
def print_order(product_name,color,size,engraving_text = ''):
    print('The product_name is '+ product_name + '. '+ 'Its color and size is ' + color + ' and ' +
          size + ' .')

In [70]:
print_order('shoes','red','36')

The product_name is shoes. Its color and size is red and 36 .

# Functions: Mixing positional and keyword arguments

In [81]:
def full_name(first_name,last_name):
    print(first_name + ' ' + last_name + ' is best in class .')

In [83]:
full_name('Rohaan','Khan')

Rohaan Khan is best in class .

In [84]:
full_name(last_name= 'Zaviyaar','Laraib')

SyntaxError: positional argument follows keyword argument (1401043964.py, line 1)

In [98]:
def give_greeting(greeting,first_name,flattering_nickname = ' the wonder boy .'):
    print(greeting + ', ' + first_name + flattering_nickname)

In [99]:
give_greeting('Congratulation','Noman')

Congratulation, Noman the wonder boy .

In [101]:
countries

{0: {'ct': '01', 'name': 'France', 'capital': 'Paris'},
 1: {'ct': '02', 'name': 'Afghanistan', 'capital': 'Kabul'},
 2: {'ct': '03', 'name': 'China', 'capital': 'Beijing'}}

In [104]:
def find_country(dict,inner_dict,target):
    print(dict[inner_dict][target])

In [105]:
find_country(countries,2,"capital")

Beijing

In [106]:
find_country(countries,1,'name')

Afghanistan

# Functions:Dealing with an unknown number of arguments

In [107]:
def display_result(winner,score):
    print('The winner was ' + winner)
    print('The score was ' + score)

In [108]:
display_result(winner = 'Argentina',score = '1-0')

The winner was Argentina
The score was 1-0

In [109]:
display_result(winner = 'Portugal',score = '1-0',ovetime = 'Yes',injuries = 'none')

TypeError: display_result() got an unexpected keyword argument 'ovetime'

In [3]:
def display_result(winner,score,**other_info):
    print('The winner was' + winner)
    print('The score was' + score)
    for key,value in other_info.items():
        print(key + ': '+ value)

In [4]:
display_result(winner = "Portugal",score = '1-0',overtime = 'yes',injuries = 'none')

The winner wasPortugal
The score was1-0
overtime: yes
injuries: none

In [7]:
def display_nums(first_num,second_num,*opt_nums):
    print(first_num)
    print(second_num)
    print(opt_nums)

In [8]:
display_nums(1000,23,456,566)

1000
23
(456, 566)

# Functions:Passing information back from them

In [9]:
def calc_tax(sales_total,tax_rate):
    tax = sales_total * tax_rate
    print(tax)

In [10]:
calc_tax(90,45)

4050

In [15]:
def calc_tax(sales_total,tax_rate):
    tax = sales_total * tax_rate
    return tax

In [16]:
sales_tax = calc_tax(sales_total = 101.37,tax_rate = 0.05)

In [18]:
print(sales_tax)

5.0685

In [20]:
print(calc_tax(sales_total = 5001 ,tax_rate = 0.05))

250.05

In [21]:
def calc_tax(sales_total,tax_rate):
    return(sales_total * tax_rate)

In [22]:
calc_tax(10100,0.55)

5555.0

# Using fuctions as variable (which is what they really are)

In [25]:
def add_numbers(first_number,second_number):
    return first_number + second_number

In [26]:
def subtract_numbers(first_number,second_number):
    return first_number - second_number

In [27]:
result_of_adding = add_numbers(52,25)
result_of_subtracting = subtract_numbers(54,20)
sum_of_results = result_of_adding + result_of_subtracting

In [28]:
sum_of_results = add_numbers(20,23) + subtract_numbers(20,10)

In [29]:
sum_of_results

53

# Functions: Local vs. global variables

# local variables is one that you define in a function
# global variable is one you define in the main body of your code __that is ,not in a fuction

In [32]:
def say_something():
    what_to_say = 'Hi,Rox'

In [33]:
what_to_say # this is local variable

NameError: name 'what_to_say' is not defined

In [34]:
what_to_say = 'HIIIIIIIIIIIIIIIIIIIIIIIIIII'

In [35]:
what_to_say # global variable example

'HIIIIIIIIIIIIIIIIIIIIIIIIIII'

In [36]:
def whatever(a,c):
    total = a * c
    return total

In [38]:
print(a)      
print(c)             # they are local variables
print(total)

NameError: name 'a' is not defined

In [39]:
def whatever(b,c):       #variable defined in fuction
    total = b + c       # print statements within the fuction
    print(b)            # python has no problem
    print(c)
    print(total)

In [40]:
r = 30011998

In [41]:
def roxy():     # good coders avoid using global variable inside function
    print(r)

In [42]:
roxy()

30011998

In [49]:
def check_local():
    m = 14032016
    print(m)

In [50]:
m = 14032023

In [51]:
check_local()   # m is local variable

14032016

In [53]:
print(m)  # m is global variable

14032023

# Functions within functions

# The fuction thatg is called must be earlier in your code than the fucntion that calls it

In [59]:
def propose_me():
    how = 'give me red roses'
    print(how)

In [60]:
propose_me()

give me red roses

In [90]:
def propose_me():
    how = 'give me red roses'
    now_propose_me(how)

In [91]:
def now_propose_me(how_to):
    print(how_to)

In [92]:
propose_me()

give me red roses

In [93]:
now_propose_me('rozzzzzzzzz')

rozzzzzzzzz

In [94]:
propose_me()

give me red roses

In [95]:
def outer_func():
    def inner_func():
        print('ROXy')
    inner_func()

In [96]:
outer_func()

ROXy

# While loop

# while loop used to execute a block of statements repeatedly until a given condition is satisfied
# you have to assign a value to the variable that the while loop depends on,before you start the while loop

In [6]:
fast_food_restraunt = ['chicken burger','beef burger','zinger burger','chicken supereme pizza','chicken afghani pizza']

In [100]:
item = ''
while item != 'no':
    item = input('Enter the item or no to quit:')
    if item != 'no':
        for food in fast_food_restraunt:
            if item == food:
                print('Yes, We have it')
                break

Enter the item or no to quit:chicken burger
Yes, We have it
Enter the item or no to quit:malai boti
Enter the item or no to quit:zinger burger
Yes, We have it
Enter the item or no to quit:chicken tikka pizza
Enter the item or no to quit:beef burger
Yes, We have it
Enter the item or no to quit:no

In [2]:
years = (1952,1962,1980,1982,1983,1984,1985,1987,1993,1996,1998)

In [5]:
user_input = ''
while user_input != 0:
    user_input = int(input('enter the year or 0 to stop:'))
    if user_input != 0:
        for year in years:
            if user_input == year:
                print('This year present in the tuple ')
                break

enter the year or 0 to stop:1998
This year present in the tuple
enter the year or 0 to stop:1996
This year present in the tuple
enter the year or 0 to stop:1993
This year present in the tuple
enter the year or 0 to stop:1987
This year present in the tuple
enter the year or 0 to stop:0

# While loops: Setting a flag

# True and False are booleans.
# They are not string and must be capitalized.

In [7]:
print(fast_food_restraunt)

['chicken burger', 'beef burger', 'zinger burger', 'chicken supereme pizza', 'chicken afghani pizza']

In [8]:
keep_looping = True
while keep_looping == True:
    item = input('Enter the item or no to quit:')
    if item != 'no':
        for food in fast_food_restraunt:
            if item == food:
                print('Yes, We have it')
                break
    else:
        keep_looping = False

Enter the item or no to quit:chicken burger
Yes, We have it
Enter the item or no to quit:chicken tikka
Enter the item or no to quit:no