The built-in Python datetime module provides datetime, date, and time types.
datetime type, as you may imagine, combines the information stored in date and time

Type    Description
%m      Two-digit month [01, 12]
%d      Two-digit day [01, 31]
%H      Hour (24-hour clock) [00, 23]
%I      Hour (12-hour clock) [01, 12]
%M      Two-digit minute [00, 59]
%S      Second [00, 61] (seconds 60, 61 account for leap     seconds)

%w      Weekday as integer [0 (Sunday), 6]

%U      Week number of the year [00, 53]; Sunday is considered    the first day of the week, and days before the first Sunday of
the year are “week 0”

%W       Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of
the year are “week 0”

%z     UTC time zone offset as +HHMM or -HHMM; empty if time zone naive

%F     Shortcut for %Y-%m-%d (e.g., 2012-4-18)
%D     Shortcut for %m/%d/%y (e.g., 04/18/12)

In [4]:
from datetime import datetime, date, time

dt = datetime(2011, 10, 29, 20 ,30, 21)
print(dt.day) ; dt.minute

29

30

In [5]:
dt.date()

datetime.date(2011, 10, 29)

In [6]:
dt.time()

datetime.time(20, 30, 21)

In [7]:
dt.strftime("%m/%d/%Y %H:%M")

'10/29/2011 20:30'

In [8]:
dt.strptime("2016314", '%Y%m%d')

datetime.datetime(2016, 3, 14, 0, 0)

In [9]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [10]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [11]:
type(delta)

datetime.timedelta

In [12]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [13]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [14]:
from datetime import datetime, date, time

rt = datetime(2023, 11, 8, 7, 40, 30)
print(rt)
rt

2023-11-08 07:40:30

datetime.datetime(2023, 11, 8, 7, 40, 30)

In [15]:
print("date :", rt.date())
print("time :",rt.time())
print(rt.day,'days')
print(rt.month, "months")
print(rt.year,"year")
print(rt.hour,"hour")
print(rt.minute,"minutes")
print(rt.second,"seconds")

date : 2023-11-08
time : 07:40:30
8 days
11 months
2023 year
7 hour
40 minutes
30 seconds

In [16]:
wt = datetime(2023,10,15,8,45,12)
wt

datetime.datetime(2023, 10, 15, 8, 45, 12)

In [17]:
wt.strftime("%y/%m/%d")
print(wt)

2023-10-15 08:45:12

In [18]:
wt.strptime('20240130','%Y%m%d')

datetime.datetime(2024, 1, 30, 0, 0)

In [19]:
wt.replace(minute = 10, second = 30)

datetime.datetime(2023, 10, 15, 8, 10, 30)

In [20]:
r_delta = wt - rt
r_delta

datetime.timedelta(days=-24, seconds=3882)

In [21]:
type(r_delta)

datetime.timedelta

In [22]:
rt + r_delta

datetime.datetime(2023, 10, 15, 8, 45, 12)

In [23]:
x = datetime.now()
print(x)

2023-11-09 09:17:31.805946

In [24]:
print(datetime(2023,1,18))

2023-01-18 00:00:00

In [25]:
now = datetime.now()
print(now)
print(now.strftime("%Y"))
print(now.strftime("%y"))
print(now.strftime("%M"))
print(now.strftime('%m'))
print (now.strftime('%B'))
print(now.strftime('%b'))
print(now.strftime('%D'))
print(now.strftime('%W'))
print(now.strftime('%w'))
print(now.strftime('%H'))
print(now.strftime('%I'))
print(now.strftime('%F'))
print(now.strftime('%p'))
print(now.strftime('%U'))
print(now.strftime('%z'))
print(now.strftime('%S'))

2023-11-09 09:17:33.256281
2023
23
17
11
November
Nov
11/09/23
45
4
09
09
2023-11-09
AM
45

33

In [27]:
f = datetime.now()

In [28]:
f

datetime.datetime(2023, 11, 9, 9, 18, 21, 287003)

In [31]:
f.strftime("%F")

'2023-11-09'