In [5]:
# Bitwise AND
a = 0b1010
b = 0b1100
c = a & b
print(bin(c))

0b1000

In [6]:
# Bitwise OR
a = 0b1010
b = 0b1100
c = a | b
print(bin(c))

0b1110

In [7]:
# Bitwise XOR
a = 0b1010
b = 0b1100
c = a ^ b
print(bin(c))

0b110

In [9]:
# Bitwise NOT
a = 0b1010
c = ~a
print(bin(c))

-0b1011

In [10]:
# Bitwise Left Shift
a = 0b1010
c = a << 2
print(bin(c))

0b101000

In [11]:
# Bitwise Right Shift
a = 0b1010
c = a >> 1
print(bin(c))

0b101

In [12]:
# Bitwise AND
a = 0x1010
b = 0x1100
c = a & b
print(bin(c))

0b1000000000000

In [13]:
a = 0x1010
b = 0o1100
c = a & b
print(bin(c))

0b0

In [14]:
a = 0o1010
b = 0o1100
c = a & b
print(bin(c))

0b1000000000

In [15]:
print(id(a))

2349048040592

In [16]:
x = 10
y = 10
z = x
print(id(x))
print(id(y))
print(id(z))

140729671259208
140729671259208
140729671259208

In [17]:
list1 = [10, 20, 30]
list2 = [10, 20, 30]
print(list1 is list2)
print(id(list1))
print(id(list2))

False
2349049447104
2349049443520

In [18]:
list1 = [10, 20, 30]
list2 = [10, 20, 30]
print(list1 == list2)
print(id(list1))
print(id(list2))

True
2349049446656
2349049447808

In [23]:
o = 84-51
l = o * 8
l / 60

4.4

In [24]:
33*8

264

In [25]:
264/60

4.4

In [22]:
import numpy as np
arr1 = [30,20,50,40]

In [23]:
def bubble(aar1):
    n = len(arr1)
    for i in range(n):
        swapped = False
        for j in range(0, n - i - 1):
            if arr1[j] > arr1[j + 1]:
                arr1[j], arr1[j + 1] = arr1[j+ 1], arr1[j]
                swapped = True
        if not swapped:
            break

In [27]:
bubble(arr1)
print("Sorted array is:", arr1)

Sorted array is: [20, 30, 40, 50]

In [7]:
def linear(array, target):
    for i in range(len(array)):
        if array[i] == target:
            return i
        return -1

In [8]:
import numpy as np
arr = np.array([27,13,32, 20,40])
target = 20

In [9]:
linear(arr,target)

-1

In [41]:
# in binary search array must be sorted
def binary(array, target):
    left, right = 0, len(array) -1
    while left <= right:
        mid = (left + right) // 2
        if array[mid] == target:
            return mid
        elif array[mid]< target:
            left = mid +1
        else:
            right = mid + 1
    return -1

In [48]:
arr = np.array([10,20,30,40,50])
target = 40

In [49]:
binary(arr, target)

3

In [10]:
def quick_sort(arr,low,high):
    if low < high :
        pivot = partition(arr,low,high)
        quick_sort(arr,low,pivot - 1)
        quick_sort(arr,pivot + 1, high)

In [11]:
def partition(arr,low,high):
    p = arr[low]
    i = low + 1
    j = high
    while True:
        while i < j and arr[i] <= p:
            i += 1
        while i <= j and arr[j] >= p:
            j -= 1
        if i <= j:
            arr[i], arr[j] = arr[j], arr[i]
        else:
            break
    arr[low], arr[j] = arr[j], arr[low]
    return j

In [12]:
def merge_sort(arr):
    if len(arr) <= 1:
        return arr
    mid = len(arr) // 2
    l_half = arr[:mid]
    r_half = arr[mid:]
    l_half = merge_sort(l_half)
    r_half = merge_sort(r_half)
    return merge(l_half, r_half)

In [13]:
def merge(left, right):
    new = []
    i, j = 0, 0
    
    while i < len(left) and j < len(right):
        if left[i] < right[j]:
            new.append(left[i])
            i += 1
        else:
            new.append(right[j])
            j += 1
           
    new.extend(left[i:])
    new.extend(right[j:])
    return new

In [3]:
class faculty:
    def putdata(self):
        self.id = int(input("enterfaculty id"))
        self.name = input("enter name")
        self.salary = float(input("enter faculty salary"))
    def display(self):
        print("faculty id:", self.id)
        print("faculty name:", self.name)
        print("faculty salary:", self.salary)

In [4]:
a = faculty()
a.putdata()
a.display()

enterfaculty id26
enter nameRoze
enter faculty salary78965412
faculty id: 26
faculty name: Roze
faculty salary: 78965412.0

In [9]:
# constructor

class faculty:
    def __init__(self):
        self.id = int(input("enter faculty id"))
        self.name = input("enter name")
        self.salary = float(input("enter faculty salary"))
    def display(self):
        print("faculty id:", self.id)
        print("faculty name: ", self.name)
        print("faculty salary", self.salary)
        
a = faculty()

a.display()

enter faculty id98
enter nameRoze
enter faculty salary963963857
faculty id: 98
faculty name:  Roze
faculty salary 963963857.0

In [10]:
class faculty:
    def __init__(self,a,b,c):
        self.f_id = a
        self.name = b
        self.salary = c
    def display(self):
        print("Faculty id:", self.f_id)
        print("faculty name:", self.name)
        print("faculty salary", self.salary)
        
        
a = faculty(96,"Noman", 96385)
a.display()

Faculty id: 96
faculty name: Noman
faculty salary 96385

In [6]:
class student:
    def __init__(self,my_roll,my_name,my_marks):
        self.rollno = my_roll
        self.name = my_name
        self.marks = my_marks
        
    def average(self): 
        return sum(self.marks)/len(self.marks)

In [7]:
first_student = student(1, "ROze", [50,60,70,80,90])
print(first_student.name)
print(first_student.average())

ROze
70.0

In [12]:
# inheritance
class OTTSubscription:
    def __init__(self,subscription_id,plan, total_payment):
        self.id = subscription_id
        self.plan = plan
        self.total_payment = total_payment
        
    def subscribe(self):
        print(f"Subscriber with {self.id} id subscribed to the {self.plan} plan")
    def unsubscribe(self):
        print(f"Subscriber with {self.id} id Unsubscribed to the {self.plan} plan")

In [24]:
# example
netflix = OTTSubscription(123654, "monthly", 100)
netflix.plan
print(netflix.unsubscribe())
#netflix.subscribe()

Subscriber with 123654 id Unsubscribed to the monthly plan
None

In [20]:
class PremiumSubscription(OTTSubscription):
    def __init__(self,subscription_id,plan,total_payment,screens):
        self.id = subscription_id
        self.plan = plan
        self.payment = total_payment
        self.max_screens = screens
     
    def subscribe(self):
        print(f"Subscriber with {self.id} id subscribed to the {self.plan} plan")
    
    def unsubscribe(self):
        print(f"Subscriber with {self.id} id Unubscribed to the {self.plan} plan")
    
    def set_max_screens(self,screens):
        print(f"maximum screen set to {self.max_screens} in Premium plan")

In [28]:
# example
netflix = PremiumSubscription("85213", "Monthly",1200, 1)
netflix.subscribe()
netflix.set_max_screens(4)

Subscriber with 85213 id subscribed to the Monthly plan
maximum screen set to 1 in Premium plan

In [17]:
class PremiumSubscription(OTTSubscription):
    def __init__(self,subscription_id, plan, total_payment, screens):
        super().__init__(subscription_id, plan, total_payment)
        self.max_screens = screens
        
    def set_max_screens(self,screens):
        print(f"maximum screen set to {self.max_screens} in premium plan")

In [29]:
netflix = PremiumSubscription("123456", "yearly", 1,1200)
netflix.subscribe()

Subscriber with 123456 id subscribed to the yearly plan

In [30]:
netflix.set_max_screens(4)

maximum screen set to 1200 in Premium plan

In [31]:
myott = OTTSubscription("1236", "Quarter", 100)

In [32]:
myott.plan

'Quarter'

In [33]:
# generator
numbers = list(range(1,201))

In [35]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [ ]:
import sys
def creator():
    list = []
    i = 1
    while i<=10:
        list.append(i)
    return list 
print(creator())
z = sys.getsizeof(list)
print(z)

In [ ]:
def creator1():
    i = 1
    while i<= 20:
        yield i
print(creator1())
x = creator1()
print(next(x))
print(next(x))
print(list(x))

<generator object creator1 at 0x000002AD5ADBC340>
1
1

In [3]:
#list comprehension
marks = [20,30,40,50,60]
new_marks = []
for x in marks:
    new_marks.append(x+2)
print(new_marks)

[22, 32, 42, 52, 62]

In [4]:
new_marks = [x+2 for x in marks]
print(new_marks)

[22, 32, 42, 52, 62]

In [5]:
easy = [x ** 3 for x in range(10) if x % 2 == 0]
easy

[0, 8, 64, 216, 512]

In [1]:
a = [785,12]
print(a)
a.append(1998)
print(a)
a.append([2016,209])
print(a)
a.extend([96,12,75,84])
print(a)

[785, 12]
[785, 12, 1998]
[785, 12, 1998, [2016, 209]]
[785, 12, 1998, [2016, 209], 96, 12, 75, 84]

In [2]:
set1 = {89,23,45}
set1

{23, 45, 89}

In [3]:
set1.add(1998)

In [4]:
set1

{23, 45, 89, 1998}

In [5]:
set1.update({45,896,1998})

In [6]:
set1

{23, 45, 89, 896, 1998}

In [16]:
marks = [77, 97, 64, 85, 55]

def grade(marks):
    if marks >= 90:
        return "A"
    elif 80 <= marks < 90:
        return "B"
    elif 70 <= marks < 80:
        return "C"
    elif 60 <= marks < 70:
        return "D"
    else:
        return "F"

In [17]:
grades = map(grade, marks)

In [18]:
print("Exam Scores:", marks)
#print("Grades: ", next(grades))
print("Grades: ", list(grades))

Exam Scores: [77, 97, 64, 85, 55]
Grades:  ['C', 'A', 'D', 'B', 'F']

In [19]:
marks = [77, 97, 64, 35, 55]

def failing(score):
    return score < 60

result = filter(failing, marks)

print("Failing Scores:", list(result))

Failing Scores: [35, 55]

In [21]:
# lambda function
numbers = [11, 20, 31, 40, 51, 60, 7, 80, 91, 100]
def even(x):
    return x % 2 == 0

evens = list(filter(even, numbers))

print("Even numbers:", evens)

Even numbers: [20, 40, 60, 80, 100]

In [22]:
numbers = [11, 20, 31, 40, 51, 60, 7, 80, 91, 100]
evenn = list(filter(lambda x : x % 2 == 0 and x > 50, numbers))

print("even numbers greater than 50: ", evenn)

even numbers greater than 50:  [60, 80, 100]

In [23]:
city = ["jaipur", "kota", "chandigarh", "delhi", "Muzaffarpur"]

def length(city):
    return(len(city))

sort  = sorted(city, key = length)

print("Sorted words by length: ", sort)

Sorted words by length:  ['kota', 'delhi', 'jaipur', 'chandigarh', 'Muzaffarpur']

In [25]:
city = ["jaipur", "kota", "chandigarh", "delhi", "Muzaffarpur"]
sort = sorted(city, key = lambda x: len(x), reverse = True)
print("Sorted words by length:", sort)

Sorted words by length: ['Muzaffarpur', 'chandigarh', 'jaipur', 'delhi', 'kota']

In [26]:
class queue:
    def __init__(self):
        self.values = []
    def enqueue(self, x):
        self.values.append(x)
    def dequeue(self):
        front = self.values[0]
        self.values = self.values[1:]
        return front

In [39]:
q = queue()
q.enqueue(40)
q.enqueue(90)
q.enqueue(70)
q.enqueue(20)
print(q.values)
q.dequeue()

[40, 90, 70, 20]

40

In [40]:
print(q.values)

[90, 70, 20]

In [43]:
#Stack works in last in and first out
class stack:
    def __init__(self):
        self.values = []
    def push(self, x):
        self.values = [x]+self.values
    def pop(self):
        return self.values.pop(0)
    
s = stack()
s.push(10)
s.push(20)
s.push(30)
s.push(40)
print(s.values)
print(s.pop())
print(s.values)
s.push(60)
print(s.pop())

[40, 30, 20, 10]
40
[30, 20, 10]
60

In [44]:
#Decorator is afunction that takes another function as argument and returns a function

def decorator(func):
    def wrapper():
        print("Transaction Initiated")
        func()
        print("Transaction Completed")
    return wrapper 

def hello():
    print(".....Executing all steps of Transaction....")
    
hello1 = decorator(hello)   
hello1()

Transaction Initiated
.....Executing all steps of Transaction....
Transaction Completed

In [46]:
def decorator(func):
    def wrapper():
        print("Transaction Initiated")
        func()
        print("Transaction completed")
    return wrapper

@decorator
def hello():
    print("....Executing all steps of Transaction....")

hello()

Transaction Initiated
....Executing all steps of Transaction....
Transaction completed

In [47]:
#list comprehension
list = []
for i in range(15):
    if i % 2 == 0:
        list.append(i)
print(list)

[0, 2, 4, 6, 8, 10, 12, 14]

In [49]:
# [expression for item in iterable if condition]
list1 = [i + 5 for i in range(15) if i % 2 == 0]
print(list1)

[5, 7, 9, 11, 13, 15, 17, 19]

In [50]:
dict = {}
for i in range(10):
    if i % 2 == 0:
        dict[i] = i * i
print(dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [51]:
#{key: value for item in iterable if condition}

dict1 = {i:i*i for i in range(10) if i % 2 == 0}
print(dict1)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [53]:
import statistics
import time
start_time = time.time()

data  = [200000, 50000, 600000, 4545789, 200000, 343421, 50000]

mean_value = statistics.mean(data)
median_value = statistics.median(data)
mode_value = statistics.mode(data)

print(f"Mean: {mean_value}")
print(f"Median: {median_value}")
print(f"Mode: {mode_value}")
end_time = time.time()

total_time = end_time - start_time

print(f"Total time taken: {total_time} seconds")

Mean: 855601.4285714285
Median: 200000
Mode: 200000
Total time taken: 0.005101203918457031 seconds

In [55]:
import math
math.pi

3.141592653589793

In [56]:
math.e

2.718281828459045

In [59]:
math.remainder(12,5)

2.0

In [60]:
math.ceil(4.5)

5

In [62]:
math.floor(4.5)

4

In [63]:
math.sqrt(5)

2.23606797749979

In [65]:
math.sin(60)

-0.3048106211022167

In [66]:
math.cos(30)

0.15425144988758405

In [68]:
math.exp(2)

7.38905609893065

In [69]:
math.log(2)

0.6931471805599453

In [70]:
math.log10(2)

0.3010299956639812

In [71]:
math.log2(2)

1.0

In [72]:
# linked list
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
        
# Creating nodes
node1 = Node(10)
node2 = Node(20)
node3 = Node(30)
node4 = Node(40)

# Connecting nodes to form a linked list
node1.next = node2
node2.next = node3
node3.next = node4

# Printing the linked list
current  = node1
while current is not None:
    print(current.data, end = "->")
    current = current.next
print("None")

10->20->30->40->None

In [75]:
# insertion at the beginning of linked list
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
        
# Creating nodes
node1 = Node(10)
node2 = Node(20)
node3 = Node(30)
node4 = Node(40)

# Connecting nodes to form a linked list
node1.next = node2
node2.next = node3
node3.next = node4

# Adding a new node at the beginning

head = node1
new_node = Node(50)
new_node.next = head
head = new_node

# Printing the linked list
current  = head
while current is not None:
    print(current.data, end = "->")
    current = current.next
print("None")

50->10->20->30->40->None

In [76]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
        
# Creating nodes
head = Node(10)
node2 = Node(20)
node3 = Node(30)
node4 = Node(40)

# Connecting nodes to form a linked list
head.next = node2
node2.next = node3
node3.next = node4

# Deleting the node from the beginning
if head is not None:
    head = head.next  #update the head to the next node


# Printing the updated linked list
current  = head
while current is not None:
    print(current.data, end = "->")
    current = current.next
print("None")

20->30->40->None

In [77]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
        
# Creating nodes
head = Node(10)
node2 = Node(20)
node3 = Node(30)
node4 = Node(40)

# Connecting nodes to form a linked list
head.next = node2
node2.next = node3
node3.next = node4

# Deleting the node from the end
current  = head
while current.next.next is not None:
    current = current.next
current.next = None

In [79]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
        
# Creating nodes
head = Node(10)
node2 = Node(20)
node3 = Node(30)
node4 = Node(40)

# Connecting nodes to form a linked list
head.next = node2
node2.next = node3
node3.next = node4

# Deleting the particular node 
current  = head
while current.next.data != 30:
    current = current.next
current.next = current.next.next

# Printing the updated linked list
current  = head
while current is not None:
    print(current.data, end = "->")
    current = current.next
print("None")

10->20->40->None

In [81]:
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None
        
# Creating nodes
node1 = Node(10)
node2 = Node(20)
node3 = Node(30)
node4 = Node(40)
 
# Connecting nodes to form a linked list
node1.next = node2
node2.next = node3
node3.next = node4

# Adding a new node with data 50 at the end

new_node = 50
head = node1
current = head

while current.next is not None:
    current = current.next
current.next = new_node